<h1> Edit User </h1>

<!--
<%= form_for @user do |f|%>
    <%= f.label :username, 'Enter your username' %><br>
    <%= f.text_field :username%><br>
    <%= f.label :email %><br>
    <%= f.email_field :email, placeholder: "Email@example.com"%><br>
    <%= f.label :password %><br>
    <%= f.password_field :password%> <br>
    <%= f.submit %>
<%end%>
-->

<%# RAILS FORM FOR WITH ERRORS %>

<%= form_for @user do |f|%>
    <ul>
        <% @user.errors.full_messages.each do |error|%>
            <li><%= error%></li>
        <% end %>
    </ul>
    
    <%= f.label :username, 'Enter your username' %><br>
    <%= f.text_field :username%><br>

    <%= f.label :email %><br>
    <%= f.email_field :email, placeholder: "Email@example.com"%><br>

    <%= f.label :password %><br>
    <%= f.password_field :password%> <br>
    
    <%= f.submit %>
<%end%>