<h1> New User </h1>

<%# MANUAL FORM CREATION %>
<!--
<form action="/users" method="post" name="users" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>%">

    <label for="user[username]">Username</label> <br>
    <input id="username" type="text" name="user[username]"> <br>

    <label for="user[email]">Email</label> <br>
    <input id="email" type="email" name="user[email]"> <br>

    <label for="user[password]">Password</label> <br>
    <input id="password" type="password" name="user[password]"> <br>

    <input id="submit" type="submit" value="create user">
</form>
-->

<%# RAILS FORM CREATION WITH FORM_TAG %>
<!--
<%= form_tag("/users", method: "post") do %>
    <%= label_tag(:username, "Username") %><br>
    <%= text_field_tag(:username)%><br>

    <%= label_tag(:email, "Email")%><br>
    <%= email_field_tag(:email)%><br>

    <%= label_tag(:password, "Password")%><br>
    <%= password_field_tag(:password)%><br>

    <%= submit_tag("Create User")%>
<%end%>
-->

<!--
<%# RAILS FORM CREATION WITH FORM_FOR %>
<%= form_for @user do |f|%>
    <%= f.label :username, 'Enter your username' %><br>
    <%= f.text_field :username%><br>

    <%= f.label :email %><br>
    <%= f.email_field :email, placeholder: "Email@example.com"%><br>

    <%= f.label :password %><br>
    <%= f.password_field :password%> <br>

    <%= f.submit %>
<%end%>
-->

<%# RAILS FORM FOR WITH ERRORS %>

<%= form_for @user do |f|%>
    <ul>
        <% @user.errors.full_messages.each do |error|%>
            <li><%= error%></li>
        <% end %>
    </ul>
    
    <%= f.label :username, 'Enter your username' %><br>
    <%= f.text_field :username%><br>

    <%= f.label :email %><br>
    <%= f.email_field :email, placeholder: "Email@example.com"%><br>

    <%= f.label :password %><br>
    <%= f.password_field :password%> <br>

    <%= f.submit %>
<%end%>